.homePage5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .swiperWrap {
    padding-top: 130px;
    width: 885px;
    max-width: 96vw;
    overflow-x: hidden;
    overflow-y: visible;
  }
  .swiper {
    position: relative;
    overflow: visible;
  }
  .swiper-pagination {
    position: absolute;

    bottom: none;

    display: flex;
    flex-direction: column;
    width: 32px;
    top: 50%;
    left: 100%;
    transform: translate(-60px, -50%);
    .swiper-pagination-bullet {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      font-size: 11px;

      opacity: 1;
      background: rgba(253, 255, 247, 0.2);
      &.swiper-pagination-bullet-active {
        transform: scale(1.1);
        background: #fdfff7;
        border-radius: 50%;
        font-family: MM Extreme;
        font-weight: 400;
        font-size: 14px;
        color: #b193cb;
      }
    }
  }

  .swiper-slide {
    box-sizing: border-box;
    height: 200px;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(-30deg, #b193cb, #60e4de);
    border-radius: 39px;
    position: relative;
  }
  .header-swiper-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.2;
    border-radius: 39px;
  }

  .swiper-slide {
    width: 885px;
    height: 383px;
    padding: 52px 65px;
    display: flex;
    .left {
      .title {
        font-size: 28px;
      }
      .subTitle {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .coreWrap {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    .content {
      position: relative;
      z-index: 1;
      max-width: 100%;
      font-family: Montserrat, Montserrat;
      font-weight: 400;
      font-size: 12px;
      color: #ffffff;
      line-height: 17px;
      text-align: left;
      word-break: break-all;
    }
    .core1Wrap {
      display: flex;
      gap: 24px;
      .core1Img {
        width: 189px;
        height: 219px;
        background: #9579f3;
        border-radius: 16px;
      }
      .core1 {
        position: relative;
        .bg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(180deg, #bb40c5 0%, #4451b6 100%);
          border-radius: 16px;
          opacity: 0.4;
          z-index: 0;
        }
        border-radius: 17px 17px 17px 17px;
        border: 1px solid #636363;
        width: 659px;
        padding: 16px;
        box-sizing: border-box;
        .titleWrap {
          position: relative;
          z-index: 1;
          display: flex;
          font-size: 25px;
          font-family: Adieu, Adieu;
          gap: 48px;
        }
        .content {
          position: relative;
          z-index: 1;
          max-width: 100%;
          font-family: Montserrat, Montserrat;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
          line-height: 17px;
          text-align: left;
          word-break: break-all;
        }
      }
    }
    .coreBottom {
      display: flex;
      gap: 24px;
      .coreLeft {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .core2Wrap {
          display: flex;
          gap: 24px;
          .core2Img {
            width: 189px;
            height: 278px;
            background: #40bbff;
            border-radius: 16px;
          }
          .core2 {
            width: 411px;
            height: 278px;
            position: relative;

            border-radius: 17px 17px 17px 17px;
            border: 1px solid #636363;
            padding: 16px;
            box-sizing: border-box;
            .bg {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: linear-gradient(180deg, #29aab3 0%, #c7fbff 100%);
              border-radius: 16px;
              opacity: 0.6;
              z-index: 0;
            }
            .titleWrap {
              position: relative;
              z-index: 1;
              display: flex;
              font-size: 25px;
              font-family: Adieu, Adieu;
              gap: 48px;
            }
            .content {
              position: relative;
              z-index: 1;
              max-width: 100%;
              font-family: Montserrat, Montserrat;
              font-weight: 400;
              font-size: 12px;
              color: #ffffff;
              line-height: 17px;
              text-align: left;
              word-break: break-all;
              margin-top: 28px;
            }
          }
        }
        .core456 {
          display: flex;
          gap: 24px;
          .core4 {
            width: 227px;
            height: 605px;
            position: relative;
            border-radius: 17px 17px 17px 17px;
            border: 1px solid #636363;
            padding: 16px;
            box-sizing: border-box;
            .bg {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: linear-gradient(180deg, #3fbbfe 0%, #d7f1ff 100%);
              border-radius: 16px;
              opacity: 0.6;
              z-index: 0;
            }
            .titleWrap {
              position: relative;
              z-index: 1;
              font-size: 25px;
              font-family: Adieu, Adieu;
              gap: 48px;
            }
            .content {
              margin-top: 28px;
              position: relative;
              z-index: 1;
              max-width: 100%;
              font-family: Montserrat, Montserrat;
              font-weight: 400;
              font-size: 12px;
              color: #ffffff;
              line-height: 17px;
              text-align: left;
              word-break: break-all;
            }
          }
          .core56 {
            display: flex;
            flex-direction: column;
            gap: 24px;
            .core5 {
              width: 368px;
              height: 274px;

              border-radius: 17px 17px 17px 17px;
              border: 1px solid #636363;
              position: relative;
              padding: 16px;
              box-sizing: border-box;
              .bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(
                  158deg,
                  #88fff1 0%,
                  rgba(236, 151, 235, 0.99) 100%
                );
                border-radius: 16px;
                opacity: 0.6;
                z-index: 0;
              }
              .titleWrap {
                position: relative;
                z-index: 1;
                font-size: 25px;
                font-family: Adieu, Adieu;
                gap: 48px;
                .sort {
                  text-align: right;
                }
              }
              .content {
                margin-top: 25px;
                position: relative;
                z-index: 1;
                max-width: 100%;
                font-family: Montserrat, Montserrat;
                font-weight: 400;
                font-size: 12px;
                color: #ffffff;
                line-height: 17px;
                text-align: left;
                word-break: break-all;
              }
            }
            .core6 {
              width: 368px;
              height: 304px;

              border-radius: 17px 17px 17px 17px;
              border: 1px solid #636363;
              position: relative;
              padding: 16px;
              box-sizing: border-box;
              .bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, #a0cfff 0%, #a924e7 100%);
                border-radius: 16px;
                opacity: 0.6;
                z-index: 0;
              }
              .titleWrap {
                position: relative;
                z-index: 1;
                font-size: 25px;
                font-family: Adieu, Adieu;
                gap: 48px;
                .sort {
                  text-align: right;
                }
              }
              .content {
                margin-top: 28px;
                position: relative;
                z-index: 1;
                max-width: 100%;
                font-family: Montserrat, Montserrat;
                font-weight: 400;
                font-size: 12px;
                color: #ffffff;
                line-height: 17px;
                text-align: left;
                word-break: break-all;
              }
            }
          }
        }
      }
      .coreRight {
        .core3Wrap {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .core3 {
            width: 227px;
            height: 577px;

            border-radius: 17px 17px 17px 17px;
            border: 1px solid #636363;
            padding: 16px;
            box-sizing: border-box;
            position: relative;
            .bg {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: linear-gradient(180deg, #9075ff 0%, #fde6ff 100%);
              border-radius: 16px;
              opacity: 0.6;
              z-index: 0;
            }
            .titleWrap {
              position: relative;
              z-index: 1;
              font-size: 25px;
              font-family: Adieu, Adieu;
              gap: 48px;
            }
            .content {
              margin-top: 21px;
              position: relative;
              z-index: 1;
              max-width: 100%;
              font-family: Montserrat, Montserrat;
              font-weight: 400;
              font-size: 12px;
              color: #ffffff;
              line-height: 17px;
              text-align: left;
              word-break: break-all;
            }
          }
          .core3Img {
            width: 227px;
            height: 304px;
            border-radius: 16px;
            background: #9579f3;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .homePage5 {
    .swiper-pagination {
      visibility: hidden;
    }
    .swiper-creative .swiper-slide {
      overflow: visible;
    }
    .swiperWrap {
      overflow: visible;
    }
    .swiper-slide {
      width: 885px;
      height: 383px;
      padding: 52px 30px;
      display: flex;
      flex-direction: column;
      overflow: visible;
      .left {
        .title {
          font-size: 18px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .subTitle {
          font-size: 12px;
        }
      }
      .icon {
        position: absolute;
        bottom: -85px;
        z-index: -1;
        width: 170px;
        height: 170px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
