.servicesPage {
  min-height: 50vh;
  margin: 0 50px;
  display: flex;
  flex-direction: column;

  .pageTitle {
    display: flex;
    z-index: 2;
    position: relative;
    text-align: center;
    font-family: Adieu;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;

    background: linear-gradient(270deg, #b193cb 0%, #60e4de 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 48px auto 28px;
  }
  .uploadBtn {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0;
  }
  .my-masonry-grid {
    display: flex;
    width: auto;
    .my-masonry-grid_column {
      background-clip: padding-box;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 767px) {
    .servicesPage {
      margin: 0 20px;
    }
  }
}
@media screen and (max-width: 767px) {
  .servicesPage {
    margin: 0 16px;
  }
}

