.servicesPage {
  min-height: 50vh;
  margin: 0 50px;
  display: flex;
  flex-direction: column;

  .pageTitle {
    display: flex;
    z-index: 2;
    position: relative;
    text-align: center;
    font-family: Adieu;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;

    background: linear-gradient(270deg, #b193cb 0%, #60e4de 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 48px auto 28px;
  }
  .imgWrap {
    margin: 0 auto;
    display: flex!important;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(20px);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      // background: linear-gradient(-30deg, #3fbbfe, #a541ff);
      // backdrop-filter: blur(20px);
      // opacity: 0.4;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      // background: linear-gradient(-30deg, #b193cb, #60e4de);
      // opacity: 0.1;
    }
    img {
      display: flex;
      width: 800px;
      max-width: 98vw;
      
    }
  }
  .uploadBtn {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0;
  }
  .my-masonry-grid {
    display: flex;
    width: auto;
    .my-masonry-grid_column {
      background-clip: padding-box;
      padding: 8px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 767px) {
    .servicesPage {
      margin: 0 20px;
    }
  }
}
@media screen and (max-width: 767px) {
  .servicesPage {
    margin: 0 16px;
  }
}

