.profilePage {
  background-color: #08082c;

  min-width: 100vw;
  .contentWrap {
    display: flex;
    .profile {
      position: sticky;
      top: 0;
      left: 0;
      padding: 14px 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    .card {
      flex-grow: 1;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 35px;
      margin-right: 30px;
      min-height: 720px;
      padding: 30px;
    }
  }
  .tabs {
    display: inline-flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 12px;
    gap: 8px;
    .num{
        color: #FFB20D;
        font-size: 14px;
    }
    margin-bottom: 20px;
  }
  .my-masonry-grid {
    display: flex;
    width: auto;
    .my-masonry-grid_column {
      background-clip: padding-box;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
