.modelModal {
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  img {
    width: 270px;
    display: block;
    border-radius: 14px;
  }
  .info {
   flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    .modelName {
      margin-top: 20px;
      font-size: 18px;
      color: #ffffff;
    }
    .modelDes {
      margin-top: 12px;
      font-size: 11px;
      color: #ffffff;
      opacity: 0.6;
    }
    .date {
      margin-top: 12px;
      font-size: 11px;
      color: #ffffff;
      opacity: 0.6;
    }
    .footerInfo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      .item {
        height: 34px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 14px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        gap: 5px;
        .itemText{
          display: flex;
          align-items: center ;
          gap:5px;
          font-size: 12px;
          color: #ffffff;
          img{
              width: 18px;
              height: 18px;
          }
      }
        &.right{
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
