.indexPage {
  background: #08082a;
  background-image: url(../assets/bg.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  .page23 {
    position: relative;
    .bg3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 50vw;
    }
  }

  .page34 {
    position: relative;
    .bg3 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .bg4 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50vw;
      height: 100%;
    }
  }

  .pageTitle {
    z-index: 2;
    position: relative;
    text-align: center;
    font-family: Adieu;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;

    max-width: 96vw;
    background: linear-gradient(270deg, #b193cb 0%, #60e4de 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pageSubTitle {
    margin-top: 24px;
    font-weight: 200;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    width: 734px;
    max-width: 96vw;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .indexPage {
    background-position-y: 280px;
  }
}
