.indexPage {
  background: linear-gradient(-19deg, #8565f2, #499fff);
  background-image: url(../assets/bg.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position-y: -53px;
  .pageTitle {
    z-index: 2;
    position: relative;
    text-align: center;
    font-family: Adieu;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;
    width: 734px;
    max-width: 96vw;
    background: linear-gradient(270deg, #b193cb 0%, #60e4de 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pageSubTitle {
    margin-top: 24px;
    font-weight: 200;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    width: 734px;
    max-width: 96vw;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .indexPage {
    background-position-y: 280px;
  }
}
