.roadMapWrap {
  overflow-x: scroll;
  max-width: 100vw;
  //   position: relative;
  .roadMap {
    // min-width: 100vw;
    padding: 300px 400px 300px 200px;
    box-sizing: border-box;
    z-index: 90;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    min-width: 100vw;

    &::before {
      content: "";
      position: absolute;
      top: 312px;
      left: -0;
      right: -0;
      bottom: 0;
      height: 1px;
      background: #b193cb;
      z-index: -1;
    }
    .timeline-item {
      min-width: 20px;
      min-height: 20px;
      background-color: #b193cb;
      border-radius: 50%;
      position: relative;
      & + .timeline-item {
        margin-left: 240px;
      }
      .item-card {
        position: absolute;
        background: #8565f2;
        height: 183px;
        min-width: 200px;
        max-width: 400px;
        overflow: hidden;

        display: flex;
        align-items: center;

        box-sizing: border-box;
        padding: 20px;
        &.linearGradient {
          background: linear-gradient(-30deg, #b193cb, #60e4de);
        }
        &.bgImage {
          &.opacity {
            .image{
                opacity: 0.3;
            }
            
          }
          .image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;

            img {
              z-index: 0;
              height: 183px;
              object-fit: cover;
              width: 400px;
            }
          }
        }

        //   display: inline-flex;
        //   align-items: center;
        .item-content {
          z-index: 9;
          display: flex;
          flex-direction: column;
          gap: 24px;
          .titleWrap {
            font-family: Adieu;
            .title {
              display: flex;
              font-size: 34px;
            }
            .subtitle {
              font-size: 14px;
            }
          }

          .description {
            display: flex;
            font-family: Montserrat;
            font-weight: 300;
            font-size: 14px;
          }
        }
        &.contentRow {
          .item-content {
            flex-direction: row;
            align-items: center;
            height: 100%;
            gap: 100px;
            .titleWrap {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }
            .description {
              min-width: 200px;
            }
          }
        }
      }
      &.timeline-item-top {
        position: relative;
        .line {
          content: "";
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
          height: 30px;
          border-left: 1px dashed #b193cb;
          .arrow {
            position: absolute;
            top: -15px;
            left: -9px;
            // transform: translateX(-50%);
            // width: 0;
            // height: 0;
           
            color: #b193cb;
          }
        }
        .item-card {
          top: -50px;
          left: 12px;
          transform: translateY(-100%);
          border-radius: 34px 34px 34px 0;
        }
      }
      &.timeline-item-bottom {
        .line {
          content: "";
          position: absolute;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
          height: 30px;
          border-left: 1px dashed #b193cb;
          .arrow {
            position: absolute;
            top: 30px;
            left: 8px;
            transform: rotate(180deg);
            width: 0;
            // height: 0;
            // border-left: 10px solid transparent;
            // border-right: 10px solid transparent;
            // border-top: 10px solid #b193cb;
            color: #b193cb;
          }
        }
        .item-card {
          top: 76px;
          left: 12px;
          border-radius: 0px 34px 34px 34px;
        }
      }
    }
  }
}
