.page {
  // background: linear-gradient(180deg, #000000 7%, #000000 119%);
  background: #08082a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .header {
    width: 100vw;
    position: sticky;
    background: #05001c;
    top: 0;
    left: 0;
    right: 0;
    z-index: 19;
    .signup{
      min-width: 114px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .headerwrap {
      margin: 0 auto;

      padding: 16px 17px;
      max-width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
      }
    }
    .menus {
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &.ant-dropdown-open {
        .line1 {
          transform: translateY(4.5px) rotate(-45deg);
        }
        .line2 {
          transform: translateY(-4.5px) rotate(45deg);
        }
      }
      gap: 8px;
      .line1 {
        height: 1px;
        width: 20px;
        background-color: #fff;
        transition: all 0.3s ease;
        transform: translateY(0px) rotate(0deg);
      }
      .line2 {
        height: 1px;
        width: 20px;
        background-color: #fff;
        transition: all 0.3s ease;
        transform: translateY(0px) rotate(0deg);
      }
    }
  }
  .content {
    flex-grow: 1;
    width: 100vw;
    overflow: hidden;
    max-width: 100vw;
  }
  .footer {
    z-index: 1;

    max-width: 100vw;
    width: 100vw;
    margin: 0 auto;
    // background-color: #080808;
    .footwrap {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
    }
    .corp {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .logo {
    width: 144px;
    height: 26px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .header {
      height: 50px;
      display: flex;
      align-items: center;
      .headerwrap {
        width: 100%;
        box-sizing: border-box;
        padding: 0 12px;
        gap: 0;
        .nav {
          display: none;
        }
        .signup {
          display: none;
        }
        .menus {
          display: flex;
        }
      }
    }
    .footer {
      .footwrap {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 120px;
        .nav {
          margin-top: 12px;
        }
      }
    }
  }
}
.walletInfo {
  width: 215px;
  border-radius: 34px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 17px 34px 0px rgba(31, 16, 80, 0.2);
  padding: 40px 16px;
  .item {
    height: 40px;
    display: flex;
    align-items: center;
    gap:20px;

    cursor: pointer;
    .icon {
      width: 30px;
      height: 30px;
      margin-right: 11px;
    }
    .name {
      margin-left: 11px;
    }

    font-size: 14px;
    font-weight: 500;
  }
}
.menuOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
  background: transparent;
  z-index: 20000000;

}
.menuWrap {
  box-sizing: border-box;
  width: 100vw;
  background: rgba(5, 0, 28, 1);
  padding: 40px 20px;
  .ant-collapse-borderless {
    background: transparent;
  }
  .ant-collapse-item > .ant-collapse-header {
    flex-direction: row-reverse;
  }
  .navs {
    display: flex;
    flex-direction: column;
    padding: 24px 15px 24px 10px;
    .btnWrap {
      box-sizing: border-box;
      // width: 293px;
      height: 79px;
      padding: 19px 16px;
      display: flex;
      align-items: center;
      .icon {
        width: 29px;
        height: 29px;
        margin-right: 18px;
      }
      cursor: pointer;
      border-radius: 17px;
      &:hover {
        background-color: rgba(133, 101, 242, 1);
      }
      &.disabaled {
        cursor: not-allowed;
        &:hover {
          border-radius: 17px;
          background-color: transparent;
        }
      }
      .navText {
        .sub {
          color: #ffffff;
          font-size: 10px;
          opacity: 0.3;
        }
      }
    }
  }
}
