.homePage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 129px 0;
  .title {
    font-size: 34px;
    color: #ffffff;
    line-height: 54px;
    background: linear-gradient(270deg, #b193cb 0%, #60e4de 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .subTitle {
    margin-top: 24px;
    font-weight: 200;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    max-width: 734px;
    text-align: center;
  }
}
